<% layout('layout') %>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <form action="/ciudad/modificar_ciudad" method="post" novalidate="novalidate">
                                <input type="hidden" name="id" value="<%= data.id %>">
                                <div class="form-group has-success">
                                    <label for="cc-name" class="control-label mb-1">Descripción</label>
                                    <input id="cc-name" name="descri" type="text" class="form-control cc-name valid"
                                        data-val="true" data-val-required="Please enter the name on card"
                                        autocomplete="cc-name" aria-required="true" aria-invalid="false"
                                        aria-describedby="cc-name-error" value="<%= data.descri %>">
                                    <span class="help-block field-validation-valid" data-valmsg-for="cc-name"
                                        data-valmsg-replace="true"></span>                                                                            
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-info btn-block">Modificar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>